@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-EB';
  src: local('Poppins-EB'), url(./fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-B';
  src: local('Poppins-B'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-SB';
  src: local('Poppins-SB'), url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0;
  overflow-x: hidden;
}

#top-banner {
  width: 100%;
  height: 60px;
  background-color: #000;
  padding-left: 0px;
  padding-bottom: 30px;
  margin-top: 0px;
  position: relative;
  border-bottom: solid;
  border-bottom-style: line;
  border-bottom-color: #ffcd00;
  border-bottom-width: 5px;
}

#headerImageContainer {
  z-index: 999;
  position:absolute;
  top:5px;
  left:5px;
}

.headerImage {
  padding:10px;
  float: left;
  z-index: 999;
}

/* Written link navigation */

.link {
  padding: 5px;
  padding-top: 10px;
  margin-right:5px;
  text-align: right;
  font-size: 23px;
}

.link-span-login {
  text-decoration: none;
}

.link-span-login a {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 0.8em;
  color: #f0f0f0;
  font-family: 'Poppins-SB';
  text-transform: uppercase;
  position: relative;
}

.link-span-login a:hover {
  transition: 0.3s;
  color: black;
  background-color: white;
}

.link-span-login--active {
  text-decoration: none;
}

.link-span-login--active a {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 0.8em;
  color: black;
  background-color: white;
  font-family: 'Poppins-SB';
  text-transform: uppercase;
  position: relative;
}

.link-span--active a {
  font-size: 0.8em;
  text-align: inherit;
  text-decoration: none;
  color: white;
  margin-right: 4px;
  padding: 0px 5px 0px 5px;
  font-family: 'Poppins-SB';
  text-transform: uppercase;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-style: line;
  border-bottom-color: white;

}

.link-span a {
  font-size: 0.8em;
  text-align: inherit;
  text-decoration: none;
  color: #ffcd00;
  padding: 5px;
  margin-right: 4px;
  font-family: 'Poppins-SB';
  text-transform: uppercase;
}

.link-span a:hover {
  padding-bottom:0px;
  transition: .2s;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-style: line;
  color: white;
  border-bottom-color: white;
}

/* Grid link navigation */
.gridNavO {
  padding: 5px 5px 0px 5px; 
  float:right;
  background-color: #ffcd00;
}

.gridNavC {
  padding: 5px;
  float:right;
  background-color: transparent;
}

.gridBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.gridCont {
  position: relative;
  display: inline-block;
}

.dropdown {
  position:absolute;
  top: 65%;
  right: 0;
  width: 90px;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  text-align:center;
  border-style: line;
  border-width: 2px;
  border-color: #ffcd00;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color:black;
  text-decoration: none;
}

ul a {
  text-decoration: none;
}

li.li-main {
  padding: 10px;
  color:#ffcd00;
  font-weight: bold;
  text-decoration: none;
}

li.li-main:hover {
  background-color: #333;
  cursor: pointer;
  transition: .2s;
}

li.li-main a {
  color: inherit;
}

li.link-main a:visited {
  text-decoration: none;
}

li.li-login {
  padding: 10px;
  color: black;
  background-color: #ffcd00;
  font-weight: bold;
}

li.li-login:hover {
  color: white;
  cursor: pointer;
  transition: .2s;
}

li.li-login a {
  color: inherit;
}

.linkContainer {
  height: 50px;
  background: transprent;
  overflow: none;
}

/* Page containers */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#container {
  background: #eee;
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100px;
}

/* Footer */

#footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  height: 6rem;
  background: black;
  z-index: 999;
  border-top: solid;
  border-top-style: line;
  border-top-color: #ffcd00;
  border-width: 5px;
}

.footer {
  position: relative;
  color:white;
  padding-top: 10px;

}

#footer table {
  width: auto;
  height: 00px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.footerImg {
  width:64px;
}

/* Display Message */

#previewMessage {
  margin: auto;
  width: 35%;
  background: #333;
  border-radius:  0px;
  padding: 5px;
  margin-bottom:2px;
}

.messageContent {
  position: relative;
  text-align: left;
  padding: 20px;
  margin-top: -10px;
  font-style: italic;
  color: white;
}

.userInfo {
  position: relative;
  text-align: right;
  padding-right: 5px;
  color: #ffcd00;
}

.idContent {
  position: relative;
  text-align: right;
  padding-right: 5px;
  color: #eee;
  font-size: 10px;
  bottom:0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Log in page */
#login-container-main {
  background-color: transparent;
  border-color: #ffcd00;
  border-width: 4px;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  margin-top: 20px;
  width: 450px;
  height: 230px;
  position: relative;
  display: inline-block;
}

#login-container-mini {
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
}

.login-header-container {
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 500px;
  position: relative;
  display: inline-block;
}

.login-header {
  margin-top: -15px;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  font-family: "Poppins-EB";
}

.signup-link {
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  margin-top: -15px;
}

.signup-link a {
  font-size: inherit;
  text-align: left;
  text-decoration: none;
  color: #ffcd00;
  font-family: "Poppins-B";
}

form.login-form {
  text-align: left;
}

.input-field-container {
  position: relative;
}

.input-field {
  width: 100%;
  border: 0;
  background: transparent;
  color: #636363;
  font-size: 18px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  outline: none;
  border-bottom:#636363;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.input-field:focus {
  border-bottom: #ffcd00;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  color: #ffcd00;
}

.login-divider {
  position: relative;
  background-color: transparent;
  height: 10px;
}

.login-button {
  outline: none;
  border: 0;
  background-color: #ffcd00;
  color: black;
  font-weight: 450;
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Poppins-SB";
}